.addCredentialForm .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.addCredentialForm .formGroup input {
    border: 2px solid black;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
    padding-right: 30px;
}

.toggle-password {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 10%;
    color: black;
    background-color: white;
    margin-top: -20px;
}

.toggle-password:hover {
    background-color: white;
}