.deleteAllCredentials-modal .cancel-btn {
    background-color: #6c757d;
    color: white;
}

.deleteAllCredentials-modal .confirm-btn {
    background-color: red;
    color: white;
}

.deleteAllCredentials-modal .cancel-btn:hover {
    background-color: black;    
}

.deleteAllCredentials-modal .confirm-btn:hover {
    background-color: firebrick;
}