.editFormCredential .close-button {
    position: absolute;
    top: -15px;
    right: -14px;
    background-color: red;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.editFormCredential .close-button:hover {
    background-color: firebrick; /* Cor para quando o usuário passa o mouse */
    color: white;
}

.editFormCredential .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.editFormCredential .formGroup input {
    border: 2px solid black;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
    padding-right: 30px;
}

.editFormCredential .toggle-password {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 10%;
    color: black;
    background-color: white;
    margin-left: 180px;
}

.toggle-password:hover {
    background-color: white;
}

.div-edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.edit-btn {
    background-color: black;
}

.edit-btn:hover {
    background-color: black;
}

@media (max-width: 768px) {
    .modal-container {
        max-width: 95vw;  /* Largura máxima de 95% da tela */
        padding: 15px;
    }

    .close-button {
        font-size: 1.3rem;  /* Tamanho menor do X */
        top: -15px;
        right: -14px;
        width: 40px;
    }

    .editFormCredential .formGroup input {
        padding: 8px;
        font-size: 0.9rem;
    }

    .toggle-password {
        font-size: 1.2rem;
    }
}