
.menu-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 0 16px; /* Espaçamento interno nas laterais */
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional para destaque */
  box-sizing: border-box; /* Garante que padding não estoure o width */
}

.menu-profile h2 {
  font-size: 20px;
  margin: 0;
}

.menu-profile span {
  font-size: 3rem;
  color: #333;
  cursor: pointer;
}

.menu-profile .profile-icon {
  position: relative;
  cursor: pointer;
}

.menu-profile .profile-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 5px 0;
  font-size: 4rem;
}

.menu-profile .profile-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-profile .profile-dropdown li {
  margin: 10px 0;
  border-bottom: 2px solid black;
  font-size: 1.9rem;
}

.menu-profile .profile-dropdown a,
.menu-profile .profile-dropdown button {
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  color: inherit;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  color: #007BFF;
}


.addCredentialOpen {
  margin-bottom: 20px;
}

.credentials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .credential-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    width: 250px;
    background-color: #f9f9f9;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .edit-button {
    color: #007bff; 
  }
  
  .delete-button {
    color: #dc3545;
  }

  .edit-button:hover {
    color: white;
  }

  .delete-button:hover {
    background-color: firebrick;
    color: white;
  }
  