
.menu-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 0 16px; /* Espaçamento interno nas laterais */
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional para destaque */
  box-sizing: border-box; /* Garante que padding não estoure o width */
}

.menu-profile h2 {
  font-size: 20px;
  margin: 0;
}

.menu-profile span {
  font-size: 3rem;
  color: #333;
  cursor: pointer;
}

.addCredentialOpen {
  margin-bottom: 20px;
}

.credentials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .credential-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    width: 250px;
    background-color: #f9f9f9;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .edit-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .edit-button {
    color: #007bff; 
  }
  
  .delete-button {
    color: #dc3545;
  }

  .edit-button:hover {
    color: white;
  }

  .delete-button:hover {
    background-color: firebrick;
    color: white;
  }
  